<div class="card flex justify-content-center align-items-center h-full w-full">
  <p-toast></p-toast>
  <form (submit)="coucouToi()">
    <p-card
      header="Besoin d'infos"
      subheader="Envoyer nous un message"
      [style]="{ width: '360px' }"
    >
    <label>Nom</label>
    <input
      type="text"
      class="w-full"
      id="id"
      name="nom"
      pInputText
      placeholder="votre nom"
      [(ngModel)]="contact.nom"
      #ctlNom="ngModel"
      required
      minlength="8"
    />
   
    <label>Prénom</label>
    <input 
      name="prenom" 
      type="text"
      class="w-full"
      id="prenom"
      pInputText
      placeholder="votre prenom" 
      [(ngModel)]="contact.prenom" />   
    <label>Email</label>
    <input type="text" pInputText name="email"  [(ngModel)]="contact.email" class="w-full" placeholder="votre email" />
    <div class="field">
      <label for="infos">Description</label>
      <textarea
        id="infos"
        pInputTextarea
        class="w-full"
        [(ngModel)]="contact.message"
        required
        rows="10"        
      ></textarea>
    </div>
    <p-button
      type="submit"
      label="Envoyer"
      [text]="true" [raised]="true"        
      [rounded]="true"
      icon="pi pi-check"
    ></p-button>
    </p-card>
  </form>
</div>
