<!-- <nav class="topnav">
  <ul>
    <li routerLink="/">Accueil</li>
    <li routerLink="/evenements">Evénements</li>
    <li routerLink="/profil">Mon profil</li>
    <li routerLink="/utilisateurs">Utilisateurs</li>
    <li routerLink="/inscription">S'inscrire</li>
    <li routerLink="/connexion" *ngIf="!auth.isloggedIn">Se connecter</li>
    <li routerLink="/" (click)="auth.logout()" *ngIf="auth.isloggedIn">
      Se deconnecter
    </li>
  </ul>
</nav> -->
<p-menubar [model]="auth.items">
  <ng-template pTemplate="start">
    <ul>
      <li routerLink="/">
      <img src="../../../assets/images/logo.png" height="40" class="mr-1" /> 
    </li>   
  </ul>
  </ng-template>
  <ng-template pTemplate="end">
        
    <div class="field" *ngIf="auth.profil.nom"><span class="mr-2">Bienvenu, {{auth.profil.prenom}}!</span> <p-avatar image="{{auth.profil.avatar}}" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar></div> 
    
  </ng-template>
</p-menubar>